html {
  background: url("package_background.avif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: "Meow Script";
  src: url("MeowScript-Regular.ttf");
}

body {
  font-family: "Meow Script";
  font-size: 4rem;
  color: #eae7e5;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center > h2{
  margin-top: 0;
}

.center > p{
  margin-bottom: 0;
}

p{
  margin: 1rem; 
}

#assignment{
  font-size: 4rem;
  font-weight: bold;
}

a {
  color: #194898;
  text-decoration: none;
}

@media screen and (max-width: 629px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  body{
    font-size: 2rem;
    text-align: center;
  }
}
