html {
  background: url("winter_floral_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: "Fredoka One";
  src: url("FredokaOne-Regular.ttf");
}

body {
  font-family: "Fredoka One";
  font-size: 3rem;
  color: #194898;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center > h2{
  margin-top: 0;
}

.center > p{
  margin-bottom: 0;
}

p{
  margin: 1rem; 
}

#assignment{
  font-size: 4rem;
  font-weight: bold;
}
.footer{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

a {
  color: #194898;
  text-decoration: none;
}

@media screen and (max-width: 629px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  body{
    font-size: 1.5rem;
    text-align: center;
  }
}